<section class="container pt-4 pt-lg-0 pb-4 pb-lg-5">
  <h2 class="h1 text-center pb-3 pb-md-0 mb-md-5">このアプリでできる4STEP</h2>
    <div class="steps">
      <div class="step pt-0 pt-md-3 pb-5">
        <h2>1</h2>
        <div class="step-body d-flex align-items-center ps-xl-5">
          <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.3" data-disable-parallax-down="lg">
            <%= image_tag 'test.jpg', style: "width:306px;"%>
          </div>
          <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.4" data-disable-parallax-down="lg">
            <h3 class="h4">テストの記録を残しましょう！！</h3>
            <p class="mb-0">自分の受けたテスト名、満点、得点を入力すると、そのテストの達成率を、自動的に計算してくれます。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>