<% content_for(:title, t('.title')) %>
<nav class="container mt-lg-4 pt-5" aria-label="breadcrumb">
</nav>
<!-- Page content -->
<section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">
  <!-- Page title + Layout switcher + Search form -->
  <div class="row align-items-end gy-3 mb-4 pb-lg-3 pb-1">
    <div class="col-lg-5 col-md-4">
      <h1 class="mb-2 mb-md-0"><%= t('.title') %></h1>
    </div>
      <div class="col-lg-7 col-md-8">
        <%= search_form_for @q, html: { class: 'row gy-2' } do |f| %>
          <div class="col-lg-5 col-sm-6">
            <div class="d-flex align-items-center">
              <%= f.search_field :user_name_cont, class: 'form-control', placeholder: '名前で検索' %>
            </div>
          </div>
          <div class="col-lg-7 col-sm-6">
            <div class="input-group">
              <%= f.submit "検索", class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>